registry = https://registry.npmmirror.com
@frontend:registry=https://git.kxsz.net/api/v4/projects/530/packages/npm/
//git.kxsz.net/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
